# Environnement virtuel
env/

# Fichiers Python inutiles
__pycache__/
*.py[cod]

# Fichiers de log ou base temporaire
*.log

# Paramètres locaux (parfois générés par Django)
.env

# Cache de l'éditeur
.vscode/
.idea/
